<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{> page/title}}</title>
    {{> page/styles}}
</head>
<body class="container-fluid">
    {{> page/header}}
    <h1>{{title}}</h1>
    <hr />
    <main >
        {{{body}}}
        {{{markdown markdownContent}}}
    </main>
    {{> page/footer}}
    {{> page/scripts}}
</body>
</html>
