<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{> page/title}}</title>
    {{> page/styles}}
    <link rel="stylesheet" href="/assets/libs/abcjs/css/abcjs-audio.css">
    <script src="/assets/libs/abcjs/js/abcjs-basic-min.js"></script>
    
    <style>
        .abcjs-inline-audio {
            max-width: 770px;
        }
    </style>
</head>

<body class="container-fluid">
    {{> page/header}}
    <main>
        {{{body}}}
        <div id="notation"></div>
        <div id="audio"></div>
    </main>
    {{> page/footer}}
    {{> page/scripts}}
    <script>
        var song = `{{{music}}}`;

        $(() => {
            onMidi();
        });

        function onMidi() {
            if (ABCJS.synth.supportsAudio()) {
                let visualObj = ABCJS.renderAbc('notation', song)[0];
                let synthControl = new ABCJS.synth.SynthController();
                synthControl.load("#audio", null, {displayRestart: true, displayPlay: true, displayProgress: true});
                synthControl.setTune(visualObj, false);
            } else {
                ABCJS.renderAbc("notation", song);
                document.querySelector("#audio").innerHTML = "<div class='audio-error'>Audio is not supported in this browser.</div>";
            }
        }

    </script>
</body>

</html>