<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{> page/title}}</title>
    {{> page/styles}}
    <link rel="stylesheet" href="/assets/libs/abcjs/css/abcjs-audio.css">
    <script src="/assets/libs/abcjs/js/abcjs-basic-min.js"></script>
    
    <style>
        .abcjs-inline-audio {
            max-width: 770px;
        }
    </style>
</head>

<body class="container-fluid">
    {{> page/header}}
    <main>
        {{{body}}}
        <div id="notation"></div>
    </main>
    {{> page/footer}}
    {{> page/scripts}}
    <script>
        var song = `{{{music}}}`;
        $(document).ready(function () {
            ABCJS.renderAbc("notation", song);
        });
    </script>
</body>

</html>