<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{> page/title}}</title>
    {{> page/styles}}
    <link rel="stylesheet" href="/assets/libs/abcjs/css/abcjs-audio.css">
    <script src="/assets/libs/abcjs/js/abcjs-basic-min.js"></script>
    <script src="/assets/scripts/music.js"></script>
    <style>
        .abcjs-inline-audio {
            max-width: 770px;
        }
    </style>
</head>

<body class="container-fluid">
    {{> page/header}}
    <main>
        {{{body}}}
        <div id="notation"></div>
        <div id="audio"></div>
        <button id="activate-audio" class="btn btn-info">Activate Audio</button>
        <button id="start" class="btn btn-primary">Start</button>
    </main>
    {{> page/footer}}
    {{> page/scripts}}
    <script>
        const song = `{{{music}}}`;

        const cursorControl = new CursorControl("#notation");

        $(() => {
            load(song, "notation");

            $("#start").on("click", startTimer);
            $("#activate-audio").on("click", activate("audio", "abcjs-inline-audio"));

            function onEvent(ev) {
                if (ev)
                    cursorControl.onEvent(ev);
                else
                    cursorControl.onFinished();
            }

            function startTimer() {
                cursorControl.onStart();

                var timingCallbacks = new ABCJS.TimingCallbacks(visualObj[0], {
                    eventCallback: onEvent
                });
                timingCallbacks.start();
            }
        });

    </script>
</body>

</html>